{{ define "title" -}}
  {{ .Site.Title }}
{{- end }}
{{ define "header" }}
  {{ partial "menu.html" . }}
{{ end }}
{{ define "main" }}
  <header>
    <h1>{{ .Title }}</h1>
  </header>
  {{ range (.Paginate (where .Data.Pages "Type" "post")).Pages }}
    {{ partial "page-summary.html" . }}
  {{ end }}
{{ end }}
{{ define "footer" }}
  {{ partial "pagination.html" . }}
  <p class="muted">
    Daniel Dewar is the Founder of <a target="_blank" href="https://paperchain.io">Paperchain</a> — a faster revenue recognition & payments model for the digital media industry. His bio and annual lists of consumed media can be <a target="_blank" href="https://daniel-dewar.com">found here</a>. <br>Email: pcdkd [at] protonmail [dot] com.
  </p>
{{ end }}
