{{ define "title" -}}
  {{ .Site.Title }}
{{- end }}
{{ define "header" }}
  {{ partial "menu.html" . }}
{{ end }}
{{ define "main" }}
  <header>
    <h1>{{ .Title }}</h1>
  </header>
  {{ range (.Paginate (where .Data.Pages "Type" "post")).Pages }}
    {{ partial "page-summary.html" . }}
  {{ end }}
{{ end }}
{{ define "footer" }}
  {{ partial "pagination.html" . }}
  <p class="muted">
    Daniel Dewar is the Founder of <a target="_blank" href="https://paperchain.io">Paperchain</a> — allowing digital media owners to turn their daily stream or sales data into immediate, low-cost, working capital via a decentralized marketplace.
  </p>
{{ end }}
